@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MontserratBlack';
    src: url('../../public/assets/fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../../public/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratItalic';
    src: url('../../public/assets/fonts/Montserrat-Italic.ttf');
}

body{
    overflow: hidden;
    cursor: default;
}
